fiass_index
__pycache__
gradio_cached_examples
verna
qdrant_tata
pdfs
content
documents_aditya
test/images
test/json
env
qdrant_data_*
table_data
updated_documents
documents_aditya*
text_documents.json
test/json.zip
image_documents.json